* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: none; /* IMPORTANT for mobile */
}

body {
  background: black;
  overflow: hidden;
}

canvas {
  display: block;
}
